body{
    margin: 0;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 90%);
}

#calculator{
    font-family: Arial,sans-serif;
    border-radius: 15px;
    background-color: hsl(0, 0%, 15%);
    max-width: 500px;
    overflow: hidden;
}

#display{
    padding: 15px;  
    font-size: 5rem;
    border: none;
    background-color: hsl(0, 0%, 20%);
    text-align: left;
    width: 100%;
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 25px;
    gap: 10px;
}

button{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 25%);
    color: white;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 35%);
}
button:active{
    background-color:hsl(0, 0%, 30%) ;
}

.operatorBtn{
    background-color: hsl(26, 77%, 50%);
}
.operatorBtn:hover{
    background-color: hsl(26, 77%, 60%);
}
.operatorBtn:active{
    background-color: hsl(26, 77%, 40%);
}